@inject IJSRuntime JS
@inject LoginStatusViewModel ViewModel

<AuthorizeView>
    <Authorized>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <NavLink class="nav-link" href="user" Match="NavLinkMatch.All">
                    @context.User.Identity.Name
                </NavLink>
            </li>
            <li>
                <button class="btn btn-primary" @onclick="ViewModel.SignOut">Logout</button>
            </li>
        </ul>         
    </Authorized>
    <NotAuthorized>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <button class="btn btn-primary" @onclick="ViewModel.SignIn">Login</button>
            </li>
        </ul>
     
    </NotAuthorized>
</AuthorizeView>
