@page "/"
@inject IAuthenticationManager AuthenticationManager

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="this.GetAccessToken">Get Access Token</button>
<br/>
Access Token:
@AccessToken

@code {

    [Parameter]
    public string AdditionalScopes { get; set; }

    public string AccessToken { get; set; }

    private string[] Scopes => this.AdditionalScopes?.Split(',');

    public async Task GetAccessToken()
    {
        var token = await AuthenticationManager.GetAccessTokenAsync(this.Scopes);

        this.AccessToken = token?.AccessToken ?? "nothing";
    }
}